body {
    transition: background-color 0.3s, color 0.3s;
}
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.dark-mode .card {
    background-color: #1e1e1e;
}
.dark-mode .nav-link {
    color: #ffffff;
}
.dark-mode .social-icons a {
    color: #000000;
}
.dark-mode footer {
    background-color: #1e1e1e;
    color: #000000;
    border-top: 1px solid #ffffff;
}
.dark-mode footer a {
    color: #000000;
}

.carousel-image {
    width: 800px;
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
}
