{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Finance Site{% endblock %}

{% block content %}
  <div id="backgroundContact">
    <div>
      <br />
      <br />
      <h1 id="contactHeader">Contáctanos</h1>
      <div class="cuadroContact" st>
        <h2>Formulario de Contacto</h2>
        <form id="form" method="POST" action="/send-email">
          <div class="nombreContacto">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required /><br /><br />
          </div>
          <div class="asuntoContacto">
            <label for="subject">Asunto:</label>
            <input
              type="text"
              id="subject"
              name="subject"
              required
            /><br /><br />
          </div>
          <div class="mensageContacto">
            <label for="message">Mensaje:</label><br />
            <textarea
              id="message"
              name="message"
              rows="13"
              cols="130"
              required
            ></textarea>
          </div>
          <button type="submit" class="sendEmail">Enviar</button>
        </form>
        <script src="contacto.js"></script>
      </div>
    </div>
  </div>
</html>
{% endblock %}
