<!-- header.html -->
<header>
    <div class="container">
        <h1>Mi Sitio Web</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'privacy_policy' %}">Políticas de Privacidad</a></li>
                <li><a href="{% url 'contact' %}">Contacto</a></li>
                <li><a href="{% url 'news' %}">Noticias</a></li>
                <li><a href="{% url 'list' %}">Artículos</a></li>
                <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </div>
</header>
