<!-- templates/news.html -->
{% extends 'index.html' %}
{% include 'header.html' %}

{% block content %}
<div class="content">
    <h1>Noticias</h1>
    <div class="news-list">
        <article>
            <h2>Título de la Noticia 1</h2>
            <p>Resumen de la noticia 1...</p>
            <a href="#">Leer más</a>
        </article>
        <article>
            <h2>Título de la Noticia 2</h2>
            <p>Resumen de la noticia 2...</p>
            <a href="#">Leer más</a>
        </article>
        <!-- Añade más artículos de noticias aquí -->
    </div>
</div>
{% endblock %}

{% include 'footer.html' %}
