<!-- password_reset.html -->
{% extends 'index.html' %}

{% block content %}
<div class="container">
    <h1>Restablecer Contraseña</h1>
    <p>Introduce tu dirección de correo electrónico para recibir un enlace para restablecer tu contraseña.</p>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Enviar Enlace de Restablecimiento</button>
    </form>

    {% if message %}
    <p class="message">{{ message }}</p>
    {% endif %}
</div>
{% endblock %}
