<!-- members/templates/members/privacy_policy.html -->
{% extends 'base.html' %}

{% block title %}Políticas de Privacidad{% endblock %}

{% block content %}
    <div class="container my-4">
        <h1>Políticas de Privacidad</h1>
        <p>En Finanzas Inteligentes, valoramos tu privacidad y nos comprometemos a proteger tus datos personales. A continuación, describimos nuestras políticas de privacidad y cómo manejamos la información que recopilamos.</p>
        
        <h2>Recolección de Información</h2>
        <p>Recopilamos información personal que tú nos proporcionas directamente, como tu nombre, dirección de correo electrónico y cualquier otro dato que elijas compartir con nosotros.</p>
        
        <h2>Uso de la Información</h2>
        <p>Utilizamos la información recopilada para proporcionarte nuestros servicios, mejorar nuestra página web, y comunicarnos contigo. No compartimos tu información personal con terceros sin tu consentimiento.</p>
        
        <h2>Seguridad</h2>
        <p>Implementamos medidas de seguridad para proteger tu información personal contra accesos no autorizados, alteraciones, divulgaciones o destrucciones.</p>
        
        <h2>Contacto</h2>
        <p>Si tienes alguna pregunta sobre nuestras políticas de privacidad, no dudes en contactarnos a través de nuestro formulario de contacto.</p>
    </div>
{% endblock %}
